# Terraform
terraform/.terraform/
terraform/terraform.tfvars
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/secrets.auto.tfvars

# Ansible
ansible/**/__pycache__/
ansible/*.retry

# OS
.DS_Store
*.swp
*.swo